// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.start{
    text-decoration: underline;
}
.start:link {
    color: #0000EE;
}

.start:visited {
    color: #551A8B;
}

.start:active {
    color: #FF0000;
}