* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    width: 100%;
}
header{
  height: 50px;
  background-color: #ff0000;
}
main-visual{
  display: block;
  height: 500px;
  background-color: #ffa200;
}
main{
  width: 960px;
  height:1400px;
  display: flex;
  margin: 0 auto;
}
sidebar-left{
  width: 230px;
  background-color: #68ff90;
}
blog{
  width: 500px;
  background-color: #00d901
}
sidebar-right{
  width: 230px;
  background-color: #68ff90;
}
footer{
  height: 100px;
  background-color: #3000ff
}