<div class="book-wrap">
    <% @books.each do |book| %>
        <div class="book-comment">
            <span class="book-body"><%= book.body %></span>
            <span class="book-title"><%=link_to book.title, book_path(book.id) %></span>
        </div>
    <% end %>
</div>